@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body {
  font-family: 'Roboto Mono', monospace;
}

.headshot {
  height: 200px;
  width: 200px;
  background: url('dist/img/eddshotnew.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  filter: grayscale(100%) contrast(160%);
  transition: all 0.5s ease;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
  border: 5px solid rgb(69, 69, 69);
}

.headshot:hover {
  filter: grayscale(0%) contrast(130%);
  border: 10px solid rgb(200, 200, 200);
}

.container {
  text-align: center;
  max-width: 800px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#social {
  list-style: none;
}