@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body {
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.backgroundimg {
  width: 100%;
  height: 100%;
  filter: contrast(120%) grayscale(50%);
}

.headshot {
  height: 200px;
  width: 200px;
  background: url('dist/img/headshotpirate.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  filter: grayscale(100%) contrast(160%);
  transition: all 0.5s ease;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
  border: 5px solid rgb(69, 69, 69);
}

.headshot:hover {
  filter: grayscale(0%) contrast(130%);
  border: 10px solid rgb(200, 200, 200);
}

.container {
  width: 100%;
  height: 100%;
 
}

.popover {
  text-align: center;
  max-width: 800px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 10px;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.2);
}

#social {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(0, 0, 0);
}

a:active {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgba(69, 69, 69, 0.5);
}