<div id="intro">
  <nz-divider nzText="Intro"></nz-divider>
  <p>
    <i>
      "Software Engineer with core competences in designing and developing
      applications, setting them up to be automatically built and deployed to
      the cloud, with a good eye for quality."
    </i>
  </p>
  <p>
    Hello there! My name's Alin, I'm a {{ age }} years old dude that currently
    lives in Denmark. I moved here back in 2014 to pursue one of my biggest
    passions: Software Engineering. I did so as studying this back home would be
    rather impossible due to my choices in High School. I have a background in
    Social Sciences (pretty much psychology, history, geography and other things
    I can't remember), which pretty much meant that only a few (I believe 2)
    universities would accept me back home, implying I'd pass their admission
    exams without studying anything relevant.
  </p>
  <p>
    I'm currently a (junior) Software Engineer at
    <a href="https://lego.com" target="_blank">LEGO Group</a> in Billund,
    Denmark. I originally got hired here as a frontend developer but I took a
    completely different path. Working for LEGO is absolutely amazing. Even if
    I'm technically a junior developer I was given the chance to speak up. I
    managed (together with another jr. developer) to do a lot of changes around,
    from moving the entire infrastructure to the cloud, to having them
    automatically built/deployed.
  </p>
</div>
