<aso-intro></aso-intro>
<div id="experience">
  <nz-carousel nzEffect="scrollx">
    <div nz-carousel-content>
      <h3>Wub</h3>
    </div>
    <div nz-carousel-content>
      <h3>Wub</h3>
    </div>
    <div nz-carousel-content>
      <h3>Wub</h3>
    </div>
  </nz-carousel>
</div>

<aso-experience-timeline></aso-experience-timeline>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, illum! Sed
  libero quasi officia unde enim? Numquam, sapiente quae eveniet, placeat ex
  alias vero quasi repudiandae quos dolore reprehenderit non?
</p>
