<p>
  Halo, stranger! You might be wondering wtf is this page. Well, I kind of
  started working on it (again) and I never actually finished it. Try again in a
  week or two, maybe you'll see new things :)
</p>

<nz-timeline>
  <nz-timeline-item>Did stuff on 2019-09-19</nz-timeline-item>
  <nz-timeline-item>Did stuff on 2018-09-19</nz-timeline-item>
  <nz-timeline-item>Did stuff on 2017-09-19</nz-timeline-item>
  <nz-timeline-item>Did stuff on 2016-09-19</nz-timeline-item>
  <nz-timeline-item>Did stuff on 2015-09-19</nz-timeline-item>
  <nz-timeline-item>Did stuff on 2014-09-19</nz-timeline-item>
  <nz-timeline-item>Did stuff on 2013-09-19</nz-timeline-item>
  <nz-timeline-item>Did stuff on 2012-09-19</nz-timeline-item>
  <nz-timeline-item>Did stuff on 2011-09-19</nz-timeline-item>
  <nz-timeline-item>Did stuff on 2010-09-19</nz-timeline-item>
  <nz-timeline-item>Did stuff on 2009-09-19</nz-timeline-item>
  <nz-timeline-item>Did stuff on 2008-09-19</nz-timeline-item>
</nz-timeline>
